.AdminPanel {
  width: 100%;
  min-height: 100vh;
  background: rgb(43, 46, 51);
  padding: 0 3rem;
  margin: 0 auto;
}

.AdminPanel__menu {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AdminPanel__menu ul {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  grid-gap: 5rem;
  padding: 0;
}
.AdminPanel__menu ul a {
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background: pink;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}
.AdminPanel__menu ul a:hover {
  filter: brightness(0.9);
}

/* .AdminPanel__menu ul a:not(:last-child) {
  margin-right: 4rem;
} */

.AdminPanel__menu ul a:nth-child(1) {
  background: #1eae98;
}
.AdminPanel__menu ul a:nth-child(2) {
  background: #c67ace;
}
.AdminPanel__menu ul a:nth-child(3) {
  background: #ffb037;
}
