.resource-wrapper {
  width: 100vw;
  background: rgb(55, 59, 66);
}

.resource {
  width: 100%;
  margin: 0 auto;
}
.stream-header__content h1 {
  font-weight: 600;
  font-size: 5rem;
  color: #446fff;
  margin-bottom: 1rem;
}

.stream-header__content h2 {
  color: #747c8b;
  font-weight: 600;
  font-size: 2rem;
}
.stream-header__content {
  width: 80vw;
  margin: 0 auto;
  padding: 3rem;
}
.stream-header {
  background: #272a2f;
  width: 100%;
}

hr {
  height: 0.1rem;
  background: rgb(30, 31, 32, 0.2);
}

.streamsList {
  list-style: none;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(8rem, 10rem));
  justify-content: center;
  grid-gap: 4rem 8rem;
  /* margin-top: 3rem; */
  background: rgb(55, 59, 66);
  padding: 8rem 0;
  min-height: 100vh;
}
.streamsList li {
  padding: 2rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  color: #f6f6f8;
  font-weight: 500;
  /* box-shadow: 2px 2px 2px rgb(43, 46, 51, 0.5),
    -2px -2px 2px rgb(39, 42, 47, 0.3); */
  transition: 0.3s ease;
  cursor: pointer;
  background: rgb(43, 46, 51);
}

.streamsList li:hover {
  filter: contrast(1.1);
  /* color: rgb(43, 46, 51); */
}
.streamsList a {
  text-decoration: none;
}
