.stream-title h1 {
  font-weight: 500;
  font-size: 3rem;
  color: #446fff;
  padding: 0.8em 3rem;
}
.stream-title {
  background: #272a2f;
  width: 100%;
}

hr {
  height: 0.1rem;
  background: rgb(30, 31, 32, 0.2);
}
.resource {
  width: 85vw;
  margin: 0 auto;
}
.streamsList {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(5rem, 6rem));
  justify-content: center;
  grid-gap: 5rem;
  padding: 0;
  /* margin-top: 3rem; */
  background: rgb(55, 59, 66);
  padding: 4rem 3rem;
  min-height: 100vh;
}
.streamsList li {
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f6f6f8;
  font-weight: 500;
  /* box-shadow: 2px 2px 2px rgb(43, 46, 51, 0.5),
    -2px -2px 2px rgb(39, 42, 47, 0.3); */
  transition: 0.3s ease;
  cursor: pointer;
  background: rgb(43, 46, 51);
}

.streamsList li:hover {
  background: #446fff;
  color: rgb(43, 46, 51);
}
.streamsList a {
  text-decoration: none;
}
