.subject-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: rgb(55, 59, 66);
  padding-bottom: 5rem;
}

.subject-wrapper__content {
  width: 80vw;
  margin: 0 auto;
}

.subjects-header {
  width: 100%;
  background: #272a2f;
  margin: 0 auto;
}

.subjects-header nav {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.subjects-header__title {
  font-weight: 500;
  color: #f6f6f8;
  font-size: 2.5rem;
}
.subjects-header__subjectCount {
  font-weight: 500;
  color: #f6f6f8;
  font-size: 2.5rem;
}

.subjectList__content {
  /* width: 80%; */
  /* margin: 0 auto; */
  /* margin-left: 4rem; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
}

.subject__link {
  text-decoration: none;
  padding: 1rem 2rem;
  background: #a3b2cc;
  border-radius: 3px;
  color: #15171a;
  font-weight: 600;
  font-size: 1.4rem;
}

.subject__link:hover {
  background: #8a97ac;
}
.subject__videosCount {
  font-size: 1.4rem;
  color: #98a0af;
}
.subject__name {
  color: #f6f6f8;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.subject__content {
  padding: 0rem 0;
}

.subject {
  background: rgb(43, 46, 51);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1rem 0; */
  /* width: 80%; */
  border-radius: 3px;
  /* border: 2px solid red; */
}
.subject a {
  text-decoration: none;
}

.noSubject__msg {
  color: #f6f6f8;
}
.noSubject {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.noSubject .noSubject__msg {
  font-weight: 500;
  font-size: 1.4rem;
}

.addSubjectForm {
  padding: 4rem 0;
}

.addSubjectForm__title,
.subjectList__title {
  font-size: 3.5rem;
  font-weight: 600;
  color: #6d8efd;
  margin-bottom: 4rem;
}

.addSubjectForm__subjectName,
.addSubjectForm__streamName {
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  color: #f6f6f8;
}
.addSubjectForm__subjectName {
  margin-right: 4rem;
}
.addSubjectForm__subjectName input:focus,
.addSubjectForm__streamName select:focus {
  outline: 2px solid #8ca7ff;
}

.addSubjectForm__subjectName input,
.addSubjectForm__streamName select {
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 3px;
  background: #f6f6f8;
}

.addSubjectForm__subjectName label,
.addSubjectForm__streamName label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.addSubjectForm__addButton-wrapper {
  padding: 4rem 0;
}

.addSubjectForm__addButton {
  display: inline-block;
  /* width: 8rem; */
  padding: 1rem 2rem;
  /* height: 4rem; */
  background: #4873ff;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  color: #f6f6f8;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.addSubjectForm__addButton:focus {
  outline: 2px solid #8ca7ff;
}
.addSubjectForm__addButton:hover {
  background: #577eff;
}

.addSubjectForm__addButton img {
  /* color: #f6f6f8; */
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
}

.subjectAdded-popup {
  width: 100%;
  /* height: 100vh; */
  position: absolute;
  /* background: chartreuse; */
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}

.subjectAdded-popup__msg {
  font-size: 1.8rem;
  padding: 0.8rem 4rem;
  background: #44a354;
  border-radius: 3px;
  font-weight: 500;
  color: #f6f6f8;
  opacity: 0;
  z-index: 10;
  margin: 1rem 0;
}

.subjectAdded-popup__msg.active {
  animation: popup 1.5s ease;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input[type="file"] {
  display: none;
}

.addSubjectForm__image {
  width: 80%;
  padding: 1rem 3rem;
  box-shadow: -3px -3px 3px rgb(255, 255, 255, 0.05),
    3px 3px 3px rgb(0, 0, 0, 0.2), inset -3px -3px 3px rgb(255, 255, 255, 0.1),
    inset 3px 3px 3px rgb(0, 0, 0, 0.2);
  position: relative;
  margin: 4rem 0 0 0;
  background: #272a2f;
  padding: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-gap: 2rem;
  border-radius: 3px;
}
.addSubjectForm__image-label {
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
}
.addSubjectForm__image-input {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  /* border: 2px solid #484e57; */
  border-radius: 3px;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1),
    3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px 3px rgba(255, 255, 255, 0.1),
    inset 3px 3px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.addSubjectForm__image-input:hover {
  background: rgb(39, 42, 47, 0.4);
}
.addSubjectForm__image-imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 2px solid #484e57; */
  border-radius: 3px;
  box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1),
    3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px 3px rgba(255, 255, 255, 0.1),
    inset 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.addSubjectForm__image-imageContainer:hover {
  background: rgb(39, 42, 47, 0.4);
}
.addSubjectForm__image-imageContainer img {
  width: 8rem;
  height: 10rem;
}
