* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  background: white;
}
.login-form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
