* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  background: rgb(241, 240, 240);
}
.login-form {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
